@font-face {
    font-family: "vazir";
    font-weight: normal;
    font-size: 400;
    src: url("/asset/font/Vazir-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "vazir";
    font-weight: normal;
    font-size: 700;
    src: url("/asset/font/Vazir-Bold.woff") format("woff");
  }
 body{
    font-family: vazir;

 }
  